# Node.js dependencies
node_modules/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build files
dist/
out/
build/

# Cache files
.cache/
.npm/
.next/
coverage/
tmp/
temp/

# System files
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

# IDE files
.vscode/
.idea/
*.code-workspace

# Miscellaneous
logs/
*.log
*.pid
*.seed
*.sqlite
